<!DOCTYPE html>
<html>
<head>
    <title>任务明细</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="../../css/bootstrap.min.css">
    <link rel="stylesheet" href="../../css/font-awesome.min.css">
    <link rel="stylesheet" href="../../plugins/jqgrid/ui.jqgrid-bootstrap.css">
    <link rel="stylesheet" href="../../plugins/ztree/css/metroStyle/metroStyle.css">
    <link rel="stylesheet" href="../../css/main.css">
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <script src="../../libs/jquery.min.js"></script>
    <script src="../../plugins/layer/layer.js"></script>
    <script src="../../libs/bootstrap.min.js"></script>
    <script src="../../libs/vue.min.js"></script>
    <script src="../../plugins/jqgrid/grid.locale-cn.js"></script>
    <script src="../../plugins/jqgrid/jquery.jqGrid.min.js"></script>
    <script src="../../plugins/ztree/jquery.ztree.all.min.js"></script>
    <script src="../../js/common.js"></script>
    <!-- 引入组件库 -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
</head>
<body>
<div id="rrapp" v-cloak>
    <div v-show="showList">
        <div class="grid-btn">
            <div style="float:left;padding:5px 10px;">
                <input type="text" class="form-control" v-model="q.username"  placeholder="用户名"  >
            </div>
            <div style="float:left;padding:5px 10px;">
                <select v-model='q.status' class="form-control" id="status" >
                    <option value="">总任务</option>
                    <option value="succeeded">成功任务</option>
                    <option value="failed">失败任务</option>
                    <option value="running">正在运行任务</option>
                    <option value="waiting">等待执行任务</option>
                </select>
            </div>
            <div  style="float:left;padding:5px 10px;" >
                <select  v-model='q.times' class="form-control" >
                    <option value="">无</option>
                    <option value="1">0-5分钟</option>
                    <option value="6">6-10分钟</option>
                    <option value="11">11-15分钟</option>
                    <option value="16">16-20分钟</option>
                    <option value="21">21-25分钟</option>
                    <option value="26">26-30分钟</option>
                    <option value="31">31-35分钟</option>
                    <option value="37">36-40分钟</option>
                    <option value="41">41-45分钟</option>
                    <option value="46">46-50分钟</option>
                    <option value="51">51-55分钟</option>
                    <option value="56">56-60分钟</option>
                    <option value="61">1小时以上</option>
                </select>
            </div>
            <div  style="float:left">
                <el-date-picker class="col-sm-4"
                                v-model="q.startTime"
                                type="datetime"
                                placeholder="开始时间">
                </el-date-picker>
            </div>

            <div style="float:left">
                <el-date-picker class="col-sm-4"
                                v-model="q.endTime"
                                type="datetime"
                                placeholder="结束时间">
                </el-date-picker>
            </div>
                 <a class="btn btn-default" @click="query" >查询</a>
        </div>
        <table id="jqGrid"></table>
        <div id="jqGridPager"></div>
    </div>
</div>

<script src="../../js/modules/oozieserver/wfjobsList.js"></script>
</body>
</html>