<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bitauto.bdc.modules.oozieDashboard.dao.ProjectInfoDao" >
  <resultMap id="BaseResultMap" type="com.bitauto.bdc.modules.oozieDashboard.model.ProjectInfo" >
    <constructor >
      <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="project_name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="project_desc" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="department" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="contacts" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="mail_to" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="mail_cc" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="remove_flag" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="create_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="update_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    id, project_name, project_desc, department, contacts, mail_to, mail_cc, remove_flag, 
    create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from project_info
    where id = #{id,jdbcType=INTEGER}
    and remove_flag >0
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from project_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.bitauto.bdc.modules.oozieDashboard.model.ProjectInfo" >
    insert into project_info (id, project_name, project_desc, 
      department, contacts, mail_to, 
      mail_cc, remove_flag, create_time, 
      update_time)
    values (#{id,jdbcType=INTEGER}, #{projectName,jdbcType=VARCHAR}, #{projectDesc,jdbcType=VARCHAR}, 
      #{department,jdbcType=VARCHAR}, #{contacts,jdbcType=VARCHAR}, #{mailTo,jdbcType=VARCHAR}, 
      #{mailCc,jdbcType=VARCHAR}, #{removeFlag,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.bitauto.bdc.modules.oozieDashboard.model.ProjectInfo" >
    insert into project_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="projectName != null" >
        project_name,
      </if>
      <if test="projectDesc != null" >
        project_desc,
      </if>
      <if test="department != null" >
        department,
      </if>
      <if test="contacts != null" >
        contacts,
      </if>
      <if test="mailTo != null" >
        mail_to,
      </if>
      <if test="mailCc != null" >
        mail_cc,
      </if>
      <if test="removeFlag != null" >
        remove_flag,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="projectName != null" >
        #{projectName,jdbcType=VARCHAR},
      </if>
      <if test="projectDesc != null" >
        #{projectDesc,jdbcType=VARCHAR},
      </if>
      <if test="department != null" >
        #{department,jdbcType=VARCHAR},
      </if>
      <if test="contacts != null" >
        #{contacts,jdbcType=VARCHAR},
      </if>
      <if test="mailTo != null" >
        #{mailTo,jdbcType=VARCHAR},
      </if>
      <if test="mailCc != null" >
        #{mailCc,jdbcType=VARCHAR},
      </if>
      <if test="removeFlag != null" >
        #{removeFlag,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bitauto.bdc.modules.oozieDashboard.model.ProjectInfo" >
    update project_info
    <set >
      <if test="projectName != null" >
        project_name = #{projectName,jdbcType=VARCHAR},
      </if>
      <if test="projectDesc != null" >
        project_desc = #{projectDesc,jdbcType=VARCHAR},
      </if>
      <if test="department != null" >
        department = #{department,jdbcType=VARCHAR},
      </if>
      <if test="contacts != null" >
        contacts = #{contacts,jdbcType=VARCHAR},
      </if>
      <if test="mailTo != null" >
        mail_to = #{mailTo,jdbcType=VARCHAR},
      </if>
      <if test="mailCc != null" >
        mail_cc = #{mailCc,jdbcType=VARCHAR},
      </if>
      <if test="removeFlag != null" >
        remove_flag = #{removeFlag,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bitauto.bdc.modules.oozieDashboard.model.ProjectInfo" >
    update project_info
    set project_name = #{projectName,jdbcType=VARCHAR},
      project_desc = #{projectDesc,jdbcType=VARCHAR},
      department = #{department,jdbcType=VARCHAR},
      contacts = #{contacts,jdbcType=VARCHAR},
      mail_to = #{mailTo,jdbcType=VARCHAR},
      mail_cc = #{mailCc,jdbcType=VARCHAR},
      remove_flag = #{removeFlag,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <!--自主创建sql-->
  <select id="selectList" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from project_info
    where  remove_flag >0
    ORDER BY id DESC
  </select>

  <select id="getProjectByName" resultMap="BaseResultMap" parameterType="Map" >
    select
    <include refid="Base_Column_List" />
    from project_info
    WHERE project_name LIKE concat('%',#{projectName},'%')
    AND remove_flag>0
  </select>


  <select id="queryTotal" resultType="int">
    select count(*) from project_info
    <where>
      <if test="projectName != null and projectName.trim() != ''">
        `project_name` like concat('%',#{projectName},'%')
         AND remove_flag>0
      </if>
    </where>
  </select>

  <update id="deleteBatch" >
    UPDATE project_info
    set remove_flag =0
    where id in
    <foreach item="projectId" collection="array" open="(" separator="," close=")">
      #{projectId}
    </foreach>
  </update>


</mapper>