<!DOCTYPE html>
<html>
<head>
    <title>表统计</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="../../css/bootstrap.min.css">
    <link rel="stylesheet" href="../../css/font-awesome.min.css">
    <link rel="stylesheet" href="../../plugins/jqgrid/ui.jqgrid-bootstrap.css">
    <link rel="stylesheet" href="../../plugins/ztree/css/metroStyle/metroStyle.css">
    <link rel="stylesheet" href="../../css/main.css">
    <link rel="stylesheet" href="../../css/table.css">
    <script src="../../libs/jquery.min.js"></script>
    <script src="../../plugins/layer/layer.js"></script>
    <script src="../../libs/bootstrap.min.js"></script>
    <script src="../../libs/vue.min.js"></script>
    <script src="../../plugins/jqgrid/grid.locale-cn.js"></script>
    <script src="../../plugins/jqgrid/jquery.jqGrid.min.js"></script>
    <script src="../../plugins/ztree/jquery.ztree.all.min.js"></script>
    <script src="../../js/common.js"></script>
    <script src="../../js/echarts.min.js"></script>
    <script src="../../js/themes/customed.js"></script>
</head>
<body>

<div id="dbDiskTop" style="width:1024px;height:700px;"></div>
<hr width="2856px" align="left" id="splitLine4" style="width: 2856px;height:50px;">

<div id="tableDiskTop" style="width:1024px;height:700px;"></div>
<hr width="2856px" align="left" id="splitLine6" style="width: 2856px;height:50px;">

<div style="position:relative;">
<div align="right" id="increaseTopDateRange1" class="radio" style="z-index:999;position:absolute;right:165px;top:-7px;min-width: 400px; min-width: 400px; height: 20px; margin-right: 20px;">
    <label style="margin-right: 20px;">昨天</label>
    <input type="radio" name="increaseTopDateRange1" checked="checked" value="yestoday">
    <label style="margin-right: 22px;">2周</label>
    <input type="radio" name="increaseTopDateRange1" value="2week">
    <label style="margin-right: 22px;">1月</label>
    <input type="radio" name="increaseTopDateRange1" value="1month">
</div>
</div>
<div id="dbIncreaseTop" style="width:1024px;height:700px;"></div>
<hr width="2856px" align="left" id="splitLine5" style="width: 2856px;height:50px;">

<div style="position:relative;">
<div align="right" id="increaseTopDateRange" class="radio" style="z-index:999;position:absolute;right:165px;top:-7px;min-width: 400px; height: 20px; margin-right: 20px;">
    <label style="margin-right: 20px;">昨天</label>
    <input type="radio" name="increaseTopDateRange" checked="checked" value="yestoday">
    <label style="margin-right: 22px;">2周</label>
    <input type="radio" name="increaseTopDateRange" value="2week">
    <label style="margin-right: 22px;">1月</label>
    <input type="radio" name="increaseTopDateRange" value="1month">
</div>
</div>
<div id="tableIncreaseTop" style="width:1024px;height:700px;"></div>
<hr width="2856px" align="left" id="splitLine2" style="width: 2856px;height:50px;">



<div id="rrapp1" v-cloak>
    <div v-show="showList">
        <div class="grid-btn">
            <div id="dbQuery" class="form-group col-sm-2">
                <p><input type="text" class="form-control" v-model="q.dbName" @keyup.enter="query" placeholder="库名,库所属人"></p>
            </div>
            <a class="btn btn-default" @click="query">查询</a>
        </div>
        <table id="jqGrid1" class="table-striped"></table>
        <div id="jqGridPager1"></div>
    </div>
</div>

<br>
<br>
<br>

<div id="rrapp" v-cloak>
    <div v-show="showList">
        <div class="grid-btn">
            <div class="form-group col-sm-2">
                <p><input id="tableQuery" type="text" class="form-control" v-model="q.tblName" @keyup.enter="query" placeholder="表名,库名"></p>
            </div>
            <a id="queryDbTbl" class="btn btn-default" @click="query">查询</a>
        </div>
        <table id="jqGrid" class="table-striped"></table>
        <div id="jqGridPager"></div>
    </div>
</div>

<script src="../../js/modules/hdfs/hdfs_dbtable_chart.js"></script>
<script src="../../js/modules/hdfs/hdfs_tables.js"></script>
<script src="../../js/modules/hdfs/hdfs_dbs.js"></script>
</body>
</html>